<div class="container">
  <main>
    <div class="py-5 text-center">
      <img class="mb-2" src="../assets/fastcar_logos/fastcar_logo.png" alt="FastCAR Logo" height="80">
      <h2>Checkout</h2>
      <p class="lead">Please provide all necessary information to book your car rental.</p>
    </div>

    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="textColor">Your cart</span>
          <span class="badge buttonColor rounded-pill">{{rentedDays}} days</span>
        </h4>
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">{{car.modelName}}</h6>
              <small class="text-muted">Cost per day</small>
            </div>
            <span class="text-muted">{{car.priceusd}} {{currency}}/day</span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">Security Deposit</h6>
              <small class="text-muted">Will be returned!</small>
            </div>
            <span class="text-muted">{{calculateSecurityDeposit(car.priceusd)}} {{currency}}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Total</span>
            <strong>{{calculateTotal(car.priceusd)}} {{currency}}</strong>
          </li>
        </ul>

      </div>
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Billing address</h4>
        <form class="needs-validation" novalidate="" (submit)="checkout()" [formGroup]="checkoutForm">
          <div class="row g-3">
            <div class="col-12">
              <label for="rentalDuration" class="control-label required">Rental Duration</label>
              <input formControlName="rentalDuration" type="number" class="form-control" id="rentalDuration" [ngClass]="displayFieldCss('rentalDuration')">
              <div *ngIf="isFieldValid('rentalDuration')" class="error">
                Please enter a valid rental time with more than one day.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="firstName" class="control-label required">First name</label>
              <input formControlName="firstName" type="text" class="form-control" id="firstName" placeholder="" value="" required="" [ngClass]="displayFieldCss('firstName')">
              <div *ngIf="isFieldValid('firstName')" class="error">
                Valid first name is required.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="lastName" class="control-label required">Last name</label>
              <input formControlName="lastName" type="text" class="form-control" id="lastName" placeholder="" value="" required="" [ngClass]="displayFieldCss('lastName')">
              <div *ngIf="isFieldValid('lastName')" class="error">
                Valid last name is required.
              </div>
            </div>

            <div class="col-12">
              <label for="passportId" class="control-label required">ID (Passport or Drivers Licence)</label>
              <input formControlName="passportId" type="id" class="form-control" id="passportId" placeholder="12345678" [ngClass]="displayFieldCss('passportId')">
              <div *ngIf="isFieldValid('passportId')" class="error">
                Please enter a valid ID for verification.
              </div>
            </div>

            <div class="col-12">
              <label for="email" class="control-label required">Email</label>
              <input formControlName="email" type="email" class="form-control" id="email" placeholder="you@example.com" [ngClass]="displayFieldCss('email')">
              <div *ngIf="isFieldValid('email')" class="error">
                Please enter a valid email address for shipping updates.
              </div>
            </div>

            <div class="col-12">
              <label for="address" class="control-label required">Address</label>
              <input formControlName="address" type="text" class="form-control" id="address" placeholder="Favoritenstraße 222" required="" [ngClass]="displayFieldCss('address')">
              <div *ngIf="isFieldValid('address')" class="error">
                Please enter your shipping address.
              </div>
            </div>

            <div class="col-12">
              <label for="address2" class="form-label">Address 2 <span class="text-muted">(Optional)</span></label>
              <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
            </div>

            <div class="col-md-5">
              <label for="country" class="control-label required">Country</label>
              <input formControlName="country" type="text" class="form-control" id="country" placeholder="" required="" [ngClass]="displayFieldCss('country')">
              <div *ngIf="isFieldValid('country')" class="error">
                Please select a valid country.
              </div>
            </div>

            <div class="col-md-4">
              <label for="city" class="control-label required">City</label>
              <input formControlName="city" type="text" class="form-control" id="city" placeholder="" required="" [ngClass]="displayFieldCss('city')">
              <div *ngIf="isFieldValid('city')" class="error">
                Please provide a valid state.
              </div>
            </div>

            <div class="col-md-3">
              <label for="zip" class="control-label required">Zip</label>
              <input formControlName="zip" type="text" class="form-control" id="zip" placeholder="" required="" [ngClass]="displayFieldCss('zip')">
              <div *ngIf="isFieldValid('zip')" class="error">
                Zip code required.
              </div>
            </div>
          </div>

<!--          <hr class="my-4">-->

<!--          <div class="form-check">-->
<!--            <input type="checkbox" class="form-check-input" id="save-info">-->
<!--            <label class="form-check-label" for="save-info">Create a user account</label>-->
<!--          </div>-->

<!--          <div class="col-12">-->
<!--            <label for="password" class="form-label">Password</label>-->
<!--            <input type="password" class="form-control" id="password" placeholder="***********">-->
<!--            <div class="invalid-feedback">-->
<!--              Please enter a valid email address for shipping updates.-->
<!--            </div>-->
<!--          </div>-->

<!--          <hr class="my-4">-->

<!--          <app-payment></app-payment>-->

          <hr class="my-4">

          <button class="w-100 btn buttonColor btn-lg" type="submit">Continue to checkout</button>
        </form>
      </div>
    </div>
  </main>
</div>
