footer{
  position:fixed;
  bottom:0;
  width:100%;
}
.iconGroup{
  text-align: center;
}

.iconColor{
  color: #32D150;
}

.buttonColor{
  background: #37AA4C;
}

.activebutton{
  color: pink;
}

.currencyStyle{
  color: #FFFFFF;
  background-color: #37AA4C;
  border: #37AA4C;
}

select::-webkit-scrollbar {
  width: 10px;
}

select::-webkit-scrollbar-track {
  background-color: #37AA4C;
}

select::-webkit-scrollbar-thumb {
  background-color: #32D150;
}

/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #32D150;
}

/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #37AA4C;
}
